[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=paper
X-Python-2-Compatible=false
X-Krita-Manual=paperPluginManual.html
Name=Paper
Comment=Realistic paper plugin.