[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=paper
X-Python-2-Compatible=false
Name=Paper
Comment=Sponsored by The Paper Foundation.